.AdHContainer{
    font-size: 20px;
    .messageContainer{
        border: 1px solid red;
        min-width: 70vw;
        min-height: 40vh;
        font-size: 20px;
        .your-message{
            .userID{font-size: 10px;}
            text-align: right;
            .content{

                padding: 10px;
                color: blue;
            }
        }
        .other-people{
            text-align: left;
            .userID{font-size: 10px;}
            .content{
                padding: 0px 10px 10px 10px;
                color: black;
            }
        }

    }
}