
.header-container{
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: aquamarine;
    height: 60px;
    .name{
        flex: 2;
        padding-left: 20px;
        font-size: 1.7em;
        font-weight: bold;
    }
    .title{
        flex: 4;
        text-align: center;
    }
    .btn{
        justify-content: center;
        flex: 1;
        display: flex;
        .cartBtn{
            cursor: pointer;
            position: relative;
            .popupUser{
                display: none;
                top: 20px;
                left: -30px;
                z-index: 10;
                position: absolute;
                width: 80px;
                background-color: antiquewhite;
                .title{
                    color: orange;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
        .cartBtn:hover .popupUser{
            display: block;
        }

    }
}